/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  /* Centralizar tudo na tela */
  body {
    height: 100vh;
    display: flex;
    justify-content: center; /* centro horizontal */
    align-items: center;     /* centro vertical */
    background: rgb(255, 255, 255);
  }
  
  /* Caixa do login */
  .conteudo {
    background: white;
    padding: 25px;
    width: 280px;
    border-radius: 12px;
    border: 2px solid black;
  
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  
  /* Inputs */
  .conteudo input {
    padding: 6px;
  }
  
  /* Botão */
  .conteudo button {
    margin-top: 10px;
    padding: 8px;
    cursor: pointer;
  }

  
  .tipo-usuario {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .btn-tipo {
    flex: 1;
    padding: 6px;
    border: 1px solid #333;
    background: #ddd;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .btn-tipo.ativo {
    background: #4caf50;
    color: white;
    font-weight: bold;
  }
  